version: '3.9'

services:
  db:
    image: postgres:18
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql

  app:
    build: .
    container_name: node-app
    environment:
      DB_USER: postgres
      DB_PASSWORD: password
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: postgres_db
    ports:
      - "8000:8000"
    depends_on:
     - db
   

volumes:
  postgres_data:
